* {
  font-family: Helvetica, sans-serif;
}

body {
  padding: 0 1rem ;
}

h1 > small {
  color: #aaa;
}

ul {
  line-height: 1.8
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
